.about {
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 84%;
}

.container {
  margin-bottom: 30px;
}

.about__inner-container {
  width: 80%;
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 30px;
}

.about__close-btn {
  align-self: flex-end;
  padding: 12px 16px;
  position: absolute;
  transform: translate(6px, -6px);
  background: rgb(241, 170, 103);
  color: #fff;
  border: none;
}

.about__close-btn:hover {
  background: rgb(243, 123, 11);
  color: #000;
}

.about__descr {
  display: inline-block;
  margin-top: 18px;
}

.about__more {
  background: rgb(241, 170, 103);
  color: #fff;
  border: none;
  padding: 12px 0;
  width: 70px;
  text-transform: uppercase;
  margin-top: 10px;
}

.about__more:hover {
  background: rgb(243, 123, 11);
  width: 80px;
  transition: 0.5s ease-out;
  padding-right: 2px;
}

.about__more:hover span {
  margin-left: 8px;
  transition: 0.5s ease-out;
}

.about__descr-about_me {
  margin: 10px;
  text-align: justify;
}

.hide {
  display: none;
}

@media (min-width: 768px) {
  .about__inner-container {
    width: 90%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: flex-start;
  }

  .about__second-container {
    flex-direction: column;
  }

  .about__second-container h2 {
    margin-bottom: 36px;
  }

  .about__inner-descr {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .about__pic {
    height: 260px;
  }

  .about__inner-container {
    width: 80%;
  }

  .about__descr {
    margin: 5px;
  }

  .about__more,
  .about__inner-descr h3,
  .about__inner-descr p {
    margin-top: 20px;
  }
}
