.about {
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.about__inner-container {
  width: 80%;
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 24px;
  padding-bottom: 30px;
}

.about__close-btn {
  align-self: flex-end;
  padding: 12px 16px;
  position: absolute;
  transform: translate(6px, -6px);
  /* transform: translateX(6px); */
  background: rgb(241, 170, 103);
  color: #fff;
  border: none;
}

.about__close-btn:hover {
  background: rgb(243, 123, 11);
  color: #000;
}

.about h2,
h3,
p {
  color: #fff;
  letter-spacing: 0.07em;
  text-align: left;
}

.services__title {
  font-size: 36px;
  margin-bottom: 34px;
}

.services__list-title {
  font-size: 26px;
  margin-top: 0;
}

.services__list-paragraph {
  color: rgb(53, 51, 51);
  font-size: 28px;
}

.services__list {
  list-style: none;
  padding-left: 60px;
}

.services__icon::before {
  display: inline-block;
  content: "";
  width: 30px;
  height: 30px;
  background-size: contain;
  transform: translate(-52px, 34px);
}

.clock-icon::before {
  /* background: url('../images/icons/services/clock.png'); */
  background-image: url("../../images/icons/services/clock.svg");
  background-size: contain;
}

.cloud-icon::before {
  /* background: url('../images/icons/services/cloud.png'); */
  background-image: url("../../images/icons/services/cloud.svg");
  background-size: contain;
}

.bell-icon::before {
  /* background: url("../../images/icons/services/bell.png"); */
  background-image: url("../../images/icons/services/bell.svg");
  background-size: contain;
}

.picture-icon::before {
  /* background: url("../images/icons/services/image.png"); */
  background-image: url("../../images/icons/services/image.svg");
  background-size: contain;
}
