.link {
  cursor: pointer;
  text-decoration: none;
}

.main-container {
  margin-bottom: 100px;
}

.main__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__list-item {
  padding: 33px 53px 0px 53px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__list-link {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main__list-link:not(:nth-last-child(-n + 1)) {
  margin-bottom: 20px;
}

.main__descr-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 53px;
  width: 159%;
  background: rgb(177, 173, 173);
  z-index: -2;
  margin-top: 10px;
  align-self: center;
}

.main__list-descr {
  text-transform: uppercase;
}

.main__inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__inner-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main__inner-img {
  height: 76px;
  margin: 8px;
  cursor: pointer;
  width: 126px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.showModal {
  pointer-events: initial;
  opacity: 1;
  visibility: visible;
  transform: scale(1.1);
  transition: opacity 0.2s linear, transform 0.3s linear;
}

.Modal {
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
  position: relative;
  visibility: visible;
  margin: 30px;
}

.modal__btns {
  display: none;
}

.main__inner-btn-wrapper {
  height: 36px;
  margin-bottom: 16px;
}

.main__inner-btn {
  height: 26px;
  width: 136px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.main__inner-span {
  color: #f5872d;
  font-weight: 700;
}

.showModal {
  pointer-events: initial;
  opacity: 1;
  visibility: visible;
  transform: scale(1.1);
  transition: opacity 0.2s linear, transform 0.3s linear;
}

.hide {
  display: none;
}

@media (min-width: 669px) {
  .main__list {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .main__list-link:nth-child(odd) {
    margin-right: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__inner-title {
    font-weight: 300;
  }

  .main__inner-title::after {
    content: "";
    display: table;
    background-color: #ffffff;
    height: 3px;
    width: 80px;
    width: 100%;
    margin-bottom: 20px;
  }

  .main__list-inner {
    margin-bottom: 20px;
  }

  .main__inner-item {
    border: 2px solid #aa9e9e;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    cursor: pointer;
  }

  .main__inner-item:hover {
    border-color: #fff;
  }

  .main__inner-item:hover .main__inner-elem {
    background-color: #fff;
    display: block;
  }

  .main__inner-elem {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #aa9e9e;
  }

  .main__inner-btn-wrapper:hover .main__inner-span {
    margin-left: -10px;
    transition: margin 0.4s ease;
  }

  .main__inner-btn-wrapper:hover .main__inner-btn {
    margin-left: 10px;
    transition: margin 0.4s ease;
  }

  .Modal {
    max-width: 100vw;
    max-height: 80vh;
  }
}

@media (min-width: 1024px) {
  .main__list-item {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0 0px 0 0;
  }

  .main__descr-wrap {
    display: inline-block;
    width: 156px;
    margin: 0;
    text-align: center;
  }

  .main__list-descr {
    margin-top: 14px;
    font-size: 22px;
  }
  .main__list-item {
    margin-right: 30px;
  }
  .main__list-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  .main__list-item:last-child {
    margin-right: 0px;
  }

  .main__list-item:nth-child(n + 5) {
    margin-bottom: 0px;
  }

  .main__inner-container {
    flex-direction: row;
    justify-content: center;
  }

  .main__inner-wrapper {
    width: 190px;
    margin-right: 26px;
  }

  .main__inner-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 22px;
  }

  .main__inner-list img {
    width: 325px;
    height: 225px;
  }

  .main__inner-item {
    width: 34px;
    height: 34px;
    margin-bottom: 6px;
  }

  .main__inner-title {
    font-size: 40px;
  }

  .main__inner-btn-wrapper {
    display: flex;
    align-items: center;
  }

  .main__inner-btn {
    font-size: 30px;
  }

  .modal__btns {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .modal__btn {
    font-size: 50px;
    opacity: 0.3;
    border: none;
    width: 70px;
    height: 100px;
  }

  .modal__btn span {
    color: #000;
    opacity: 3;
  }

  .Modal {
    max-height: 80vh;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .main__list-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

@media (min-width: 1220px) {
  .main__list-link:nth-last-child(-n + 1) {
    margin-bottom: 20px;
  }
}

@media (min-width: 1440px) {
  .main__list-item:nth-child(-n + 4) {
    margin-bottom: 32px;
  }
}

@media (min-width: 1627px) {
  .main__list-link {
    margin-right: 60px;
  }
}
