.footer {
  height: 100px;
  bottom: 0px;
  margin-top: 36px;
}

.footer__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 16px;
}

.footer__list {
  opacity: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}

.footer__list-item:not(:nth-last-child(-n + 1)) {
  margin-right: 6px;
}

.footer__dark-line {
  min-height: 100px;
  background-color: rgba(0, 0, 0, 1.5);
  opacity: 0.3;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.footer__icon {
  /* visibility: visible; */
  width: 18px;
  height: 18px;
}

.footer__descr {
  margin-bottom: 18px;
}

.footer__descr-link {
  color: #fff;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .footer__container {
    margin-top: 28px;
    min-width: 500px;
    flex-wrap: nowrap;
  }

  .footer__list {
    margin-right: 16px;
  }
}
