html {
  box-sizing: border-box;
  font-family: "Advent Pro", "sans-serif";
  font-size: 16px;
  color: #ffffff;
  font-weight: 300;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.9);
  margin: 0 auto;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
}

.link {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;
}

.bg-image {
  background-image: url(..//images/mobile-banner.png);
  opacity: 0.2;
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  min-height: 100%;
  width: 100%;
  z-index: -1;
}

.header__container {
  display: flex;
  flex-direction: column;
}

.logo {
  text-transform: capitalize;
  font-size: 38px;
  line-height: 20%;
  margin-bottom: 40px 0;
  padding-top: 40px;
  color: #fff;
  text-decoration: none;
}

.logo__container {
  width: 300px;
}

.logo__descr {
  font-size: 20px;
  line-height: 20%;
  display: block;
  color: #fff;
  text-decoration: none;
  margin-top: 22px;
}

.header__description {
  margin: 34px 0 56px 0;
  font-size: 24px;
}

.header__description {
  width: 300px;
}

.header__list {
  display: block;
  border: 1px solid #fff;
}

.transparent {
  display: none;
}

.header__list-item {
  text-align: center;
  font-size: 19px;
  display: block;
  padding: 6px 0 6px 0;
}

.header__list-link {
  text-transform: uppercase;
}

.active {
  color: rgb(243, 123, 11);
}

@media (max-width: 767px) {
  .header__container {
    min-height: 160px;
    padding-top: 50px;
  }

  .header__description span {
    display: block;
  }

  .header__list-item:hover .header__list-link {
    color: #303030;
  }

  .header__list-item:hover {
    background: #dfd8d8;
  }
}

@media (min-width: 768px) {
  .bg-image {
    background-image: url(..//images/tablet-banner.png);
  }

  .header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 70px;
  }

  .header__description {
    margin: 0px;
  }

  .header__list {
    border-bottom: #fff;
    border-left: #fff;
    border-right: #fff;
    display: flex;
    justify-content: space-around;
    min-width: 400px;
    text-align: center;
  }

  .header__list-item {
    margin: 0 auto;
    text-align: center;
    min-height: 20px;
  }

  .header__list-container {
    display: inline-block;
    position: relative;
    height: 50px;
    width: 154px;
  }
  .header__list-container::after {
    content: "";
    display: block;
    height: 1px;
    width: 26px;
    background-color: #ffffff;
    transform: translate(54px, -7px);
  }

  .header__list-item:hover .header__list-container::after {
    transform: rotate(130deg) translate(-40px, -38px);
    transform-origin: 50% 50%;
    color: #fff;
    transition: transform 0.2s linear;
  }

  .header__list-link {
    position: absolute;
    left: 28px;
    padding-top: 14px;
  }

  .header__list-item:hover .header__list-link,
  .header__list-link:hover .header__list-link,
  .header__list-container:hover .header__list-link {
    padding-top: 24px;
    color: transparent;
    transition: padding 0.2s linear;
    transition: color, 0.2s linear;
  }

  .transparent {
    margin-top: -30px;

    color: transparent;
    display: inline-block;
  }

  .header__list-item:hover .transparent {
    margin-top: -10px;
    display: inline-block;
    color: #fff;
    transition: color, 0.2s linear, margin 0.3s linear;
  }
}

@media (min-width: 1024px) {
  .bg-image {
    background-image: url(..//images/desktop-banner.png);
  }

  .header__list {
    padding: 0 280px;
  }
}
